img{
	width:60%;
}
body{
	background-color: #DADADA;
	margin-top: -25px;
	overflow-x:auto
}
.table{
	width: 95%;
	background-color: #ffffff;
	margin-top: 1%;
	 margin-left: 2%;
}
.container {
    width: 100%;
    float: left;
}
.header{
	background-color: #61BB4F; 
	float: left;
	width: 100%;
	margin-bottom: 1%;
}
.text{
	color: white;
	font-size: 45px;
	font-weight: bold;
	float: right;
	width:75%;
	margin-top: 3%;
}
.icon{
	float: left;
	width: 20%;
	margin: 3% 0 3% 0;
}
.image{
	width: 30%;
    height: 20%;
	float: left;
	margin-left: 66%;
}
.logout{
	margin-left: 80%;
}
.logoutb{
	width:30%;
	margin-bottom: 2%;
	 margin-left: 2%;
}
.add{
	font-size: 30px;
	color:#61BB4F;
	font-weight: bold;
	margin-top: 2%
}
.addp{
	font-size: 35px;
	color:#61BB4F;
	font-weight: bold;
	margin-top: 2%
}
th,td{
	padding: 8px!important;
}
#tdc{
    color: #61BB4F;
	font-size: 15px;
	float: right;
	margin-bottom: 2%;
	font-weight: bold;
	width: 60%;
 	padding: 0px !important;
 	float: left;
	margin-left: 8%;
}
#name{
    color: #61BB4F;
	font-size: 15px;
	float: right;
	margin-bottom: 2%;
	font-weight: bold;
}
th{
	background-color:#61BB4F;
}
#imagetd{
	width:30%;
}
#sel1{
	width: 90%;
}
#total{
	width:96%;
    margin-left: 2%;
}
#welcome{
	width: 25%;
	float: right;
	margin-left: 45%;
	margin-top: -4%;
	margin-bottom: 1%;
	color:white;
	font-weight: bold;
	font-size: 16px;
}
.buttonp{
	background-color: #61BB4F;
	color:white;
	border-style: none;
	margin-top: 1%;
	margin-left: 2%;
}
.dataTables_filter{
	width:70%!important;
	float: left!important;
	text-align: left!important;
	margin-left: 5%!important;
}
.dataTables_length{
	width:20%!important;
	float: left!important;
}
input[type="search"] {
    width: 75%;
}
.tr{
	background-color:#61BB4F; 
}
span {
   cursor: pointer;
	color: #61BB4F;
	font-size: 15px;
	float: right;
	margin-bottom: 2%;
	font-weight: bold;
}
.spanv {
   cursor: pointer;
	color: #61BB4F;
	font-size: 20px;
	float: right;
	margin-bottom: 2%;
	font-weight: bold;
}
.add {
    font-size: 20px;
    color: #61BB4F;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 20px;
}
.viewform{
	display: none;
}
.addform{
	display: none;
}
a{
	color: #61BB4F;
}
a:hover {
	color: #61BB4F;
    background-color: #ffff;
}
@media only screen and (max-device-width: 414px) {
body{
	width: 100%;
}
#welcome{
	width: 100%;
	float:left;
	margin-top: 2%;
}
.logoutb{
	width:90%;
	margin-bottom: 2%;
}
.image{
	width: 50%;
    height: 50%;
	float: left;
}
.icon{
	float: left;
	width: 50%;
	margin: 0;
}
.logout{
	margin-left: 80%;
	margin-top: 20%;
	margin-bottom: 1%;
}
.text{
	width: 98%;
	font-size: 40px;
}
#sel1{
	width: 100%;
}
}