img{
	width:60%;
}
body{
	background-color: #DADADA;
	margin-top: -25px;
	overflow-x:auto
}
.table{
    width: 70%;
    background-color: #ffffff;
    margin-top: 1%;
    margin-left: 10%;
}
.container {
    width: 100%;
    float: left;
}
.header{
	background-color: #61BB4F; 
	float: left;
	width: 100%;
}
label{
	color:#61BB4F;
}
#time {
    margin-top: 2%;
    margin-left: 88%;
    float: right;
    margin-right: 2%;
}
.text{
	color: white;
	font-size: 45px;
	font-weight: bold;
	float: right;
	width: 75%;
	margin-top: 0%;

}

.icon{
	float: left;
	width: 20%;
	margin: 0% 0 2% 0;
}
.image{
	width: 30%;
    height: 20%;
	float: left;
	margin-left: 66%;
}
.logout{
	margin-left: 80%;
}
.logoutb{
	width:30%;
	margin-bottom: 2%;
	margin-left: 2%;
}
.add{
	font-size: 30px;
	color:#61BB4F;
	font-weight: bold;
	margin-top: 2%
}
.addp{
	font-size: 35px;
	color:#61BB4F;
	font-weight: bold;
	margin-top: 2%
}
th,td{
	padding: 1%!important;
}
#mbody{
	padding: 3%;
	width: 100%;
}
#tablemodal td{
	padding: 5%!important;
}
.addemp{
	float: left;
	width:70%;
	padding: 2%;
	background-color: #ffffff;
	margin-left: 10%;
}
#tdname{
	width: 25%;
}
#tdc,#tdc1{
    color: #61BB4F;
	font-size: 15px;
	float: right;
	margin-bottom: 2%;
	font-weight: bold;
	width: 60%;
 	padding: 0px !important;
 	float: left;
	margin-left: 8%;
}
#name{
    color: #61BB4F;
	font-size: 15px;
	float: right;
	margin-bottom: 2%;
	font-weight: bold;
}
#th{
	background-color:#61BB4F;
}
#hidefoot{
	display: none!important;
}
#imagetd{
	width:30%;
}
#sel1{
	width: 100%;
}
#total{
	width:96%;
    margin-left: 2%;
}
#welcome{
	width: 23%;
	float: right;
	margin-top: -4%;
	margin-bottom: 1%;
	color:white;
	font-weight: bold;
	font-size: 16px;
}
.buttonp{
	background-color: #61BB4F;
	color:white;
	border-style: none;
	margin-left: 10%;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
}
.buttona{
	 margin-bottom: 0%!important;
}
.bp{
	padding: 1%!important;
}
#id,#name1,#mailid,#password{
	margin-bottom: 3%;
	width:75%;
}
label{
	font-size: 18px!important;
}
.dataTables_filter{
	width:70%!important;
	float: left!important;
	text-align: left!important;
	margin-left: 5%!important;
}
.dataTables_length{
	width:20%!important;
	float: left!important;
}
input[type="search"] {
    width: 75%;
}
.tr{
	background-color:#61BB4F; 
}
input{
	width:40%;
}
span {
    cursor: pointer;
	color: #61BB4F;
	font-size: 15px;
	float: right;
	margin-bottom: 2%;
	font-weight: bold;
}
.spanv {
    cursor: pointer;
	color: #61BB4F;
	font-size: 20px;
	float: right;
	margin-bottom: 2%;
	font-weight: bold;
}
.add {
    font-size: 20px;
    color: #61BB4F;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 20px;
}
a{
	color: #61BB4F!important;
	font-size: 20px;
	font-weight: bold;
}
a:hover {
	color: #ffffff!important;
	background-color: transparent!important;
	background-color: #61BB4F!important;
	font-size: 20px;
	font-weight: bold;
}
#viewe
{
	display:none;
}
.sidebar{
	width:100%;
	float:left;
	margin-top: :5%;
}
.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}
#list{
	width: 80%;
    margin-left: 5%;
}
thead{
	color:#ffffff;
}
#hide,#hide1,#hide2{
	display: none;

}

@media only screen and (max-device-width: 414px) {
body{
	width: 100%;
}
#welcome{
	width: 36%;
	float:right;
	margin-top: 2%;
	margin-left: 0;
}
.logoutb{
	width:90%;
	margin-bottom: 2%;
}
#time {
  display: none;
}
.image{
	width: 50%;
    height: 50%;
	float: left;
}
.icon{
	float: left;
	width: 50%;
	margin: 0;
}
.logout{
	margin-left: 80%;
	margin-top: 20%;
	margin-bottom: 1%;
}
.text{
	width: 98%;
	font-size: 40px;
}
#sel1{
	width: 70%;
}
#list {
  width: 100%;
  margin-left: 0px;
}
.addemp
{
  width: 100%;
  margin-left: 6%;
  padding: 5%;
}
.table{
  width: 95%;
  background-color: #ffffff;
  margin-top: 1%;
  margin-left: 3%;
}
#tdc{
	width: 100%;
}
#tdc, #tdc1 {
  color: #61BB4F;
  font-size: 15px;
  float: right;
  margin-bottom: 2%;
  font-weight: bold;
  width: 100%;
  padding: 0px !important;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: left;
}

#hide,#hide2{
	display: none;
}
}