body{
	background-color: #DADADA;
	overflow-x:auto;
	overflow-y:auto;
	width:100%;
}
.container {
    width: 100%;
}
#etable{
	width: 100%;
}
.header{
	background-color: #61BB4F; 
	float: left;
	width: 100%;
}
.text{
	color: white;
	font-size: 45px;
	font-weight: bold;
	float: right;
	width:75%;
	margin-top: 3%;
}
.icon{
	float: left;
	width: 20%;
	margin: 3% 0 3% 0;
}
.container{
	float:left;
	width: 102%;
}
.image{
	width: 28%;
    height: 25%;
	float: left;
	margin-left: 66%;
}
.logout{
	margin-left: 70%;
	width: 40%;
}
.logoutb{
	width: 30%;
	float: left;
	width:30%;
	margin-left: 2%;
}
.addtable{
	margin-left: 2%;
}
#employeeid,#date,#amount{
	width:75%;
}
#sel1{
	width: 90%;
}
.table {
    width: 96%;
    margin-bottom: 67px;
    background-color: #EBEBEB;
     margin-left: 1%;
}
.add{
	margin: 2% 2%;
	font-size: 25px;
	color:#61BB4F;
	font-weight: bold;
}
.buttonp{
	background-color: #61BB4F;
	color:white;
	border-style: none;
	margin-top: 3%;
   margin-bottom: 3%;
}
.tr{
	background-color: #4CAF50;
}
.confirm{
	float: left;
	width: 20%;
	margin-left: 75%;
	background-color: #ffffff;
	margin-bottom: 1%;
	
}
.confirm{
	display: none;
}
#current,#new,#confirm{
	width:100%;
}
.view{
	font-size: 25px;
	color:#61BB4F;
	font-weight: bold;
}
.list1{
	margin-top: 2%;
}
th,td{
	padding: 10px;
}
#welcome{
	width: 25%;
	float: right;
	/*margin-left: 45%;*/
	margin-top: -4%;
	margin-bottom: 1%;
	color:white;
	font-weight: bold;
	font-size: 16px;
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3){
body{
	width: 100%;
}
table,td,tr,th{
	width:80%;
}
#welcome{
	width: 50%;
	float:right;
	margin-top: 2%;
	margin-left: 0%;
}
.logoutb{
	width:90%;
	margin-bottom: 2%;
}
.image{
	width: 50%;
    height: 50%;
	float: left;
}
.icon{
	float: left;
	width: 50%;
	margin: 0;
}
.logout{
	 margin-left: 50%;
	margin-top: 20%;
	margin-bottom: 1%;
}
.text{
	width: 98%;
	font-size: 40px;
}
.confirm{
	  width: 38%;
  	margin-left: 50%;
}
.addtable{
		overflow-y:scroll;
}
}