body{
	background-color: #DADADA;
}

.formdiv{
	margin-left: 28%;
    border: 1px solid #D0D0D0;
    padding: 5%;
    margin-right: 28%;
    background-color: #F8F8F8;
    margin-top: 2%;
}

img{
    width: 7%;
    height: 5%;
    margin-top: 5%;
    margin-left: 28%;
}

button{
    margin-left: 0px;
    padding: 2%;
    width: 85%;
    font-size: 15px;
    background-color: #61BB4F;
}

input{
	padding: 5px;
    width: 85%;
}
.logintext{
    margin-left: 450px;
    margin-top: 100px;
    font-size: 30px;
}

.text{
    color: #61BB4F;
    font-size: 38px;
    margin-top: 7%;
    float: right;
    margin-right: 30%;
    font-weight: bold;
}

p{
   color: #61BB4F;
   font-size: 20px;
   font-weight: bold;
}
